*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.toc
*.pdf
*.out
*.log
*.lastbuildstate
*.idb
*.obl
*.suo
*.pdb
*.exe
*.ilk
*.pdf
*.opensdf
*.sdf
code/TP5/.vs
code/TP5/tp3/x64
code/TP5/tp3/Debug
code/TP5/tp3/x64/Debug/TP5.tlog/CL.command.1.tlog
code/TP5/tp3/x64/Debug/TP5.tlog/CL.command.1.tlog
code/TP5/tp3/x64/Debug/TP5.tlog/CL.read.1.tlog
code/TP5/tp3/x64/Debug/TP5.tlog/CL.write.1.tlog
code/TP5/tp3/x64/Debug/TP5.tlog/TP5.lastbuildstate
code/TP5/tp3/x64/Debug/TP5.tlog/link.command.1.tlog
code/TP5/tp3/x64/Debug/TP5.tlog/link.read.1.tlog
code/TP5/tp3/x64/Debug/TP5.tlog/link.write.1.tlog
code/TP5/tp3/x64/Debug/main.obj
code/TP5/tp3/x64/Debug/vc140.idb
code/TP5/tp3/x64/Debug/vc140.pdb
code/TP5/x64/Debug/TP5.exe
code/TP5/x64/Debug/TP5.ilk
code/TP5/x64/Debug/TP5.pdb 
